apiVersion: v1
kind: Service
metadata:
  name: {{ include "sap-llm.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sap-llm.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.config.monitoring.prometheus_port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "sap-llm.selectorLabels" . | nindent 4 }}
